# Default values in env.ts
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_DAYS_TO_EXPIRE=
NEXT_PUBLIC_BACKEND_API_URL=
NEXT_PUBLIC_DECODER_CONTRACT_ADDRESS=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_EXPLORER_URL=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_NATIVE_CURRENCY=
NEXT_PUBLIC_SYMBOL=
NEXT_PUBLIC_DECIMALS=